* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background: #E6E7EB;
}

.header {
  padding: 2rem 12%;
  margin-bottom: 1rem;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px 0 rgba(83, 93, 132, 0.18);
}

.pageTitle {
  font-size: 1.3rem;
}

.menu {
  width: 40%;
}

.menuLinks {
  display: flex;
  justify-content: space-between;
}

.menuLink {
  list-style: none;
  font-size: 1.05rem;
  font-weight: 600;
  color: rgb(29, 30, 34);
  border-bottom: 2px solid #fff;
  transition: 150ms ease-in-out;
}

.menuLink a {
  padding: 4px;
}

.menuLink:hover  {
  border-color: rgb(29, 30, 34);
}

.container {
  margin: 3.5rem 12%;
  padding: 32px 48px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(83, 93, 132, 0.18);
}

.containerTitle {
  font-size: 1.7rem;
  margin: 24px 0;
  border-bottom: 1px solid rgba(44, 47, 58, 0.15);
  padding-bottom: 12px;
}

.newsRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 32px 6px;
}

.rowTitle {
  width: 100%;
  font-size: 1.3rem;
  margin-top: 24px;
  border-bottom: 1px solid rgba(44, 47, 58, 0.15);
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.news {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 12px;
  margin-top: 24px;
}

.news.video {
  width: 45%;
  margin-left: 0;
}

.news.audio {
  width: 52%;
  margin-left: 0;
}

.newsBanner {
  width: 90%;
}

.newsBanner {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(83, 93, 132, 0.18);
  transition: 150ms ease-in-out;
}

.news.video .newsBanner {
  width: 560px; 
  height: 315px;
}

.news.audio .newsBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 253px;
}

.bannerImg {
  width: 100%;
}

.newsTitle {
  font-size: 1.1rem;
  padding: 6px 18px;
  text-align: center;
  line-height: 1.4;
  margin-top: 8px;
  color: #1c1c1d;
}

.news.video .newsTitle {
  font-size: 1.3rem;
  padding: 6px 90px;
}


.newsDescription {
  font-size: 0.9rem;
  padding: 0 20px;
  text-align: center;
  line-height: 1.1;
  margin-top: 3px;
  color: #525254;
}